{% extends "layout/layout.html" %}

{% load i18n %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/tests_list.js"></script>
{% endblock %}

{% block content %}

    <fieldset>
        <legend>{% trans "Tests list" %}</legend>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    {% trans "Operations" %}
                </th>
                <th>
                    {% trans "Main tests" %}
                </th>
                <th>
                    Url
                </th>
                <th>
                    {% trans "Parent test" %}
                </th>
            </tr>
            <tr class="filters">
                <th></th>
                <th>
                    <input type="text" id="filter-test-id" placeholder=""/>
                </th>
                <th>
                    <input type="text" id="filter-test-url" placeholder=""/>
                </th>
                <th>
                    <select id="filter-test-parent">
                        <option value="" selected="selected">{% trans "Empty" %}</option>
                        {% for test in tests %}
                            {% if test.subtests %}
                                <option value="{{ test.id }}">{{ test.doc }} (#{{ test.id }})</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                <tr class="filtered-test-row" test_id="{{test.id}}">
                    <td>
                        <a class="change-test" href="{% url testing_runtime.web.tests.update_test test.id %}">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="remove-test cursor-hand">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                    <td>
                        <a class="filtered-test-id" href="{% url testing_runtime.web.tests.update_test test.id %}">
                            {{ test.doc }} (#{{test.id}})
                        </a>
                        {% if test.status == 'new' %}[{% trans "in development" %}]{% endif %}
                    </td>
                    <td class="filtered-test-url">
                        <a href="{{ test.url }}" target="_blank">{{ test.url }}</a>
                    </td>
                    <td>
                        &nbsp
                    </td>
                </tr>
                {% for subtest in test.subtests %}
                    <tr class="filtered-test-row" test_id="{{subtest.id}}">
                        <td>
                            <a class="change-test" href="{% url testing_runtime.web.tests.update_test subtest.id %}">
                                <i class="icon-wrench"></i>
                            </a>
                            <a class="remove-test cursor-hand">
                                <i class="icon-trash"></i>
                            </a>
                        </td>
                        <td>
                            ↳ <a class="filtered-test-id" href="{% url testing_runtime.web.tests.update_test subtest.id %}">{{ subtest.doc }}(#{{ subtest.id }})</a>
                            {% if subtest.status == 'new' %}[{% trans "in development" %}]{% endif %}
                        </td>
                        <td>
                            &nbsp
                        </td>
                        <td>
                            {{ test.doc }} (#<span class='filtered-test-parent'>{{ test.id }}</span>)
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </fieldset>

{% endblock %}
