{% load i18n %}

<fieldset>
<legend>{% trans "GIT config" %}</legend>

<label class="control-label" for="branch-val">{% trans "Project" %}</label>
<input id="repo-val" type="text" autocomplete="off"
        {% if job.repo %}
           value="{{ job.repo }}"
       {% else %}
           value="callisto"
       {% endif %}
/>
&nbsp
<a id="refresh-repo-btn" data-toggle="tooltip" data-original-title="{% trans "Sync with github" %}">
    <i class="icon-refresh"></i>
</a>

<label class="control-label" for="branch-val">
    {% trans "Branch" %}
</label>
<input id="branch-val" type="text" autocomplete="off"
        {% if job.branch %}
           value="{{ job.branch }}"
       {% else %}
           value="master"
       {% endif %}
/>

<label class="checkbox">
    <input id="chk-github" {% if job.github == 'yes' %}checked="checked"{% endif %} type="checkbox"> {% trans "Execute on github notification" %}
</label>
</fieldset>