{% load i18n %}

<fieldset>
<legend>{% trans "GIT config" %}</legend>

<label class="control-label" for="branch-val">{% trans "Project" %}</label>
<input id="repo-val" type="text" autocomplete="off"
        {% if job.repo %}
           value="{{ job.repo }}"
       {% else %}
           value="callisto"
       {% endif %}
/>
<button type="button" class="btn" id="refresh-repo-btn">
    {% trans "Sync with github" %}
</button>

<label class="control-label" for="branch-val">
    {% trans "Branch" %}
</label>
<input id="branch-val" type="text" autocomplete="off"
        {% if job.branch %}
           value="{{ job.branch }}"
       {% else %}
           value="master"
       {% endif %}
/>
</fieldset>