{% load i18n %}

<script type="text/javascript" src="/static/js/job.js"></script>
<form>

    <div id="create-job-error" style="display: none" class="alert alert-block alert-error fade in">
        <button type="button" class="close">&times;</button>
        <h4 class="alert-heading">{% trans "Error" %}!</h4>
        <p class="content"></p>
    </div>

    <div class="tabbable tabs-top">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab0" data-toggle="tab">{% trans "General" %}</a>
            </li>
            <li>
                <a href="#tab1" data-toggle="tab">{% trans "Git" %}</a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">{% trans "Tests" %}</a>
            </li>
            <li>
                <a href="#tab3" data-toggle="tab">{% trans "Environment" %}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab0">
                {% include "job/blocks/general.html" %}
            </div>
            <div class="tab-pane" id="tab1">
                {% include "job/blocks/git_tab.html" %}
            </div>
            <div class="tab-pane" id="tab2">
                {% include "job/blocks/tests_list.html" %}
            </div>
            <div class="tab-pane" id="tab3">
                {% include "job/blocks/environment.html" %}
            </div>
        </div>
    </div>

</form>
