{% load i18n %}

<fieldset>
<legend>{% trans "Test case" %}</legend>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            <input type="checkbox" id="check-all-tests" />
        </th>
        <th>
            {% trans "Test" %}
        </th>
        <th>
            {% trans "Page" %}
        </th>
        <th>
            {% trans "Tags" %}
        </th>
        <th>
            {% trans "Parent test" %}
        </th>
        <th>
            {% trans "Created" %}
        </th>
    </tr>
    <tr class="filters">
        <th>
        </th>
        <th>
            <input type="text" class="like-filter" data-key="doc"/>
        </th>
        <th>
            <input type="text" class="like-filter" data-key="url"/>
        </th>
        <th>
            <div class="tag-list tag-filter" data-key="tags">
                <div class="tags"></div>
            </div>
        </th>
        <th>
            <select class="parent-filter">
                <option value="" selected="selected">{% trans "Empty" %}</option>
                {% for test in tests %}
                    {% if test.subtests %}
                        <option value="{{ test.id }}">{{ test.doc }} (#{{ test.id }})</option>
                    {% endif %}
                {% endfor %}
            </select>
        </th>
        <th>
            <input type="text" class="like-filter" data-key="whose"/>
        </th>
    </tr>
    </thead>
    <tbody id="tests-list">
    </tbody>

    <div class="pagination">
        <ul>
            <li class="disabled">
                <a id="pagi-prev" class="cursor-hand">
                    {% trans "Prev" %}
                </a>
            </li>
            <li>
                <span id="page-no">1</span>
            </li>
            <li>
                <a id="pagi-next" class="cursor-hand">
                    {% trans "Next" %}
                </a>
            </li>
        </ul>
    </div>

</table>
</fieldset>