{% extends "layout/layout.html" %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/update_job.js"></script>
{% endblock %}

{% block content %}

    <legend>Задание "{{ job.name }}" (изменение)</legend>

    {% include "job/blocks/job.html" %}

{% endblock %}

{% block bottom-navbar-items %}
    <input type="button" class="btn btn-primary btn-large" id="update-job-btn" value="Сохранить"/>
    <a href="{% url testing_runtime.web.job.list_jobs %}">
        <input type="button" class="btn btn-primary btn-large" value="Отменить"/>
    </a>
{% endblock %}