{% extends "layout/layout.html" %}

{% block head %}
    <script src="/static/js/jobs_list.js"></script>
{% endblock %}

{% block content %}

    <table class="table table-striped">
        <tr>
            <th>Операции</th>
            <th>Название</th>
            <th>Ветка</th>
            <th>Репозиторий</th>
        </tr>
        {% for job in jobs %}
            <tr job_name="{{ job.name }}">
                <td>
                    <a class="run-job" href="#">
                        <i class="icon-play"></i>
                    </a>
                    <a class="change-job" href="{% url testing_runtime.web.job.update_job job.name %}">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="remove-job" href="#">
                        <i class="icon-trash"></i>
                    </a>
                </td>
                <td><a href="{% url testing_runtime.web.job.update_job job.name %}">{{ job.name }}</a></td>
                <td>{{ job.branch }}</td>
                <td>{{ job.repo }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}