{% extends "layout/layout.html" %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js?v=2.1.4"></script>

    <link rel="stylesheet" href="/static/fancybox/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/fancybox/helpers/jquery.fancybox-thumbs.js"></script>

    <link rel='stylesheet' href="/static/diff/jsdiff.css" />
    <script type="text/javascript" src="/static/diff/jsdiff.js"></script>

    <link rel="stylesheet" href="/static/css/realtime_log.css" type="text/css" media="screen" />
    <script type="text/javascript">
        taskId = "{{ task.id }}";
    </script>
    <script type="text/javascript" src="/static/js/realtime_log.js"></script>
{% endblock %}

{% block content %}

    <legend>
        Лог задания #{{ task.id }} {{ task.name }} ({{ task.repo }}:{{ task.branch }})
        <a href="#" id="stop-task" task_id="{{ task.id }}" title="Остановить задание">
            <img src="/static/images/stop.png" />
        </a>
        <img id="log-loader" src="/static/images/progress.gif"/>
    </legend>

    <div id="log-block"></div>
    <img id="log-loader-bottom" src="/static/images/progress.gif"/>

{% endblock %}

{% block bottom-navbar-items %}
    <span id="artifacts-block">
    </span>
{% endblock %}