{% extends "layout/layout.html" %}

{% block head %}
    <script type="text/javascript" src="/static/js/state.js"></script>
{% endblock %}

{% block content %}

    <div id="state-table">
        {% include "job/state/table.html" %}
    </div>

    <div class="pagination">
        <ul>
            <li class="disabled">
                <a id="pagi-prev" href="#">
                    Prev
                </a>
            </li>
            <li>
                <span id="page-no">1</span>
            </li>
            <li>
                <a id="pagi-next" href="#">
                    Next
                </a>
            </li>
        </ul>
    </div>

{% endblock %}