<table class="table table-striped">
    <tr>
        <th>Статус</th>
        <th>ID + Задание</th>
        <th>Лог</th>
        <th>Время запуска</th>
    </tr>
    {% for task in tasks %}
        <tr
{#            {% if task.status == 'running' %}#}
{#                class="info"#}
{#            {% elif task.status == 'waiting' %}#}
{#                class="warning"#}
{#            {% elif task.status == 'fail' %}#}
{#                class="error"#}
{#            {% elif task.status == 'success' %}#}
{#                class="success"#}
{#            {% endif %}#}
        >
            <td>
                {% if task.status == 'running' %}
                    <img src="/static/images/progress.gif"/>
                    <span class="label label-info">{{ task.status }}</span>
                {% elif task.status == 'waiting' %}
                    <span class="label label-warning">{{ task.status }}</span>
                {% elif task.status == 'fail' %}
                    <span class="label label-important">{{ task.status }}</span>
                {% elif task.status == 'success' %}
                    <span class="label label-success">{{ task.status }}</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url testing_runtime.web.job.update_job task.job_id %}">
                    #{{ task.id }} {{ task.job_name }}
                </a>
            </td>
            <td>
                {% if task.status == 'running' or task.status == 'success' or task.status == 'fail' %}
                    <a href="{% url testing_runtime.web.tasks.log task.id %}">log</a>
                {% endif %}
            </td>
            <td>{{ task.add_time }}</td>
        </tr>
    {% endfor %}
</table>
