<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    {% block head %}
        <link rel='stylesheet' href="/static/css/layout.css" />

        <script type="text/javascript" src="/jsi18n/"></script>

        <script type="text/javascript" src="/static/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/jquery/jquery.tmpl.js"></script>

        <link rel='stylesheet' href="/static/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap-tooltip.js"></script>

        <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
        <script type="text/javascript" src="/static/codemirror/lib/codemirror.js" ></script>
        <script type="text/javascript" src="/static/codemirror/mode/clike/clike.js" ></script>
        <script type="text/javascript" src="/static/codemirror/mode/javascript/javascript.js" ></script>
        <script type="text/javascript" src="/static/codemirror/mode/xml/xml.js" ></script>
        <script type="text/javascript" src="/static/codemirror/mode/htmlmixed/htmlmixed.js" ></script>
        <script type="text/javascript" src="/static/codemirror/mode/css/css.js" ></script>
        <script type="text/javascript" src="/static/codemirror/mode/python/python.js" ></script>
        <script type="text/javascript" src="/static/codemirror/mode/php/php.js" ></script>

        <script type="text/javascript" src="/static/js/gany.js"></script>
    {% endblock %}
</head>
<body>
    {#    {% load gany_title %}#}
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="/">Ganymede</a>
            {% include "layout/navbar.html" %}
            {% include "layout/lang.html" %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div id="navbar-bottom-block" class="form-actions navbar navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    {% block bottom-navbar-items %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% include "modals/error_modal.html" %}
    {% include "modals/info_modal.html" %}
    {% include "modals/rusure_modal.html" %}
</body>
</html>