#navbar-bottom-block {
    max-height: 230px;
}
body {
    color: #3E3E3C;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Helvetica, Arial, sans-serif;
    padding-bottom: 200px;
}

tr.filters input {
    width: 90%;
}

#navbar-bottom-block {
    padding: 0;
    margin: 5px;
}

#navbar-bottom-block .pagination {
    padding: 0;
    margin: 5px;
}

#navbar-bottom-block {
    padding: 3px;
    margin: 0px;
}

a.lang-chooser:not(.active) img {
    opacity: 0.4;
}

a.lang-chooser img {
    border:1px solid rgba(116, 109, 114, 0.90);
}

a.lang-chooser:hover img {
    opacity: 1;
}

#lang-panel {
    text-align: right;
}

.code-block {
    border: 1px solid #bcb5ba; padding: 0px;
}