<div class="modal hide fade" id="rusure-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Вы уверенны?</h3>
    </div>
    <div class="modal-body">
        <p id="rusure-question"></p>
    </div>
    <div class="modal-footer">
        <button id="rusure-yes" type="button" class="btn btn-primary" >Да</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
    </div>
</div>