{% extends "layout/layout.html" %}

{% load i18n %}

{% block head %}
    {{ block.super }}
    <script src="/static/js/jobs_list.js"></script>
{% endblock %}

{% block content %}

    <fieldset>
        <legend>{% trans "Jobs" %}</legend>
        <table class="table table-striped">
            <tr>
                <th>{% trans "Operations" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Branch" %}</th>
                <th>{% trans "Last run" %}</th>
            </tr>
            {% for job in jobs %}
                <tr job_id="{{ job.job_id }}" job_name="{{ job.name }}">
                    <td>
                        <a class="run-job cursor-hand">
                            <i class="icon-play"></i>
                        </a>
                        <a class="change-job" href="{% url testing_runtime.web.job.update_job job.job_id %}">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="remove-job cursor-hand">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                    <td><a href="{% url testing_runtime.web.job.update_job job.job_id %}">#{{ job.job_id }} {{ job.name }}</a></td>
                    <td>{{ job.repo }}:{{ job.branch }}</td>
                    <td>
                        {% if job.last_status == 'Running' %}
                            <img src="/static/images/progress.gif"/>
                            <span class="label label-info">{{ job.last_status }}</span>
                        {% elif job.last_status == 'Waiting' %}
                            <span class="label label-warning">{{ job.last_status }}</span>
                        {% elif job.last_status == 'Fail' %}
                            <span class="label label-important">{{ job.last_status }}</span>
                        {% elif job.last_status == 'Success' %}
                            <span class="label label-success">{{ job.last_status }}</span>
                        {% else %}
                            {% trans "Not executed" %}
                        {% endif %}
                        {% if job.last_task_id %}
                            <a href="{% url testing_runtime.web.tasks.log job.last_task_id %}">
                                {% trans "Log" %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </fieldset>

{% endblock %}
