# Название теста - имя класса
class Test_Template( utils.PageTest ) :
    # Описание предназначения теста
    ""

    # полный url страницы
    # пример: http://novostroyki.lun.ua
    url = u""

    # ожидаемый заголовок страницы
    # не обязательный (если убрать не будет проверятся)
    # пример: title = u"Новостройки - ЛУН.ua"
    title = u""

    # текст который должен быть на странице
    # необязательно (по умолчанию None)
    # пример : [ ['/html/body', u'Киев'] ]
    texts_present = []

    # текст на странице
    # операции >,<,=,<=,>=
    # количество раз
    # необязательно (по умолчанию None)
    # пример: texts = [ [u'Киев ', u'<=', 1] ]
    texts_count = []

