# имя теста должно быть уникальным
class SearchFormTemplateTest( utils.FunctionalTest ) :
    # краткое описание теста
    ""

    def run(self) :
        kiev_id = 1
        go_to_page = u"http://www.lun.ua/аренда-квартир-киев"
        
        ff = self.browser
        ff.get( "http://www.lun.ua/" )
        
        sf = utils.search_form.CallistoSearchForm( ff, kiev_id )
        sf.set_price( 1000, 1000000 )
        sf.set_area( 10, 500 )
        sf.set_rooms( [ 1,2,3 ] )
        
        sf.set_subway( [ u"Черниговская" ], 750 )
        
        sf.contract_realty( u"аренда квартир" )
        
        utils.Page( ff, go_to_page ).wait_page()
        
        sf.check_price( 1000, 1000000 )
        sf.check_area( 10, 500 )
        sf.check_rooms( [1,2,3] )
        sf.check_subway( [ u"Черниговская" ], 750 )