{% load i18n %}

<script type="text/javascript" src="/static/js/test.js"></script>

{% if not test %}
<p>
    <label for="template-selector">{% trans "Template" %}</label>
    <select id="template-selector">
        <option selected="selected">
            {% trans "Empty test" %}
        </option>
        <option>
            {% trans "Page test" %}
        </option>
        <option>
            {% trans "Typeahead test" %}
        </option>
        <option>
            {% trans "Load on select test" %}
        </option>
        <option>
            {% trans "Redirect check test" %}
        </option>
    </select>
    <div id="template-block">
        <div class="template-content"></div>
        <div class="template-content">{% include "test/blocks/pagetest_code_template.html" %}</div>
        <div class="template-content">{% include "test/blocks/typeahead_test_code_template.html" %}</div>
        <div class="template-content">{% include "test/blocks/load_on_select_test_code_template.html" %}</div>
        <div class="template-content">{% include "test/blocks/redirect_test_code_template.html" %}</div>
    </div>
</p>
{% endif %}

<p>
    <label for="test-status">{% trans "Status" %}</label>
    <input type="checkbox" id="test-status"
        {% if not test or test.status == 'new' %}checked="checked"{% endif %}
    >&nbsp{% trans "Test in development" %}
</p>

<legend>{% trans "Test source code" %}</legend>

<div class="code-block">
    {% if test.code %}
        <textarea id="test-source-code">{{ test.code }}</textarea>
    {% else %}
        <textarea id="test-source-code"></textarea>
    {% endif %}
</div>
