{% extends "layout/layout.html" %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/tests_list.js"></script>
{% endblock %}

{% block content %}

    <fieldset>
        <legend>Список тестов</legend>
        <i id="signs-info" class="icon-warning-sign"></i> - тест не проверен
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    Операции
                </th>
                <th>
                    Тесты страницы
                </th>
                <th>
                    url
                </th>
                <th>
                    Подтесты
                </th>
            </tr>
            <tr class="filters">
                <th></th>
                <th>
                    <input type="text" id="filter-pagetest-id" placeholder=""/>
                </th>
                <th>
                    <input type="text" id="filter-pagetest-url" placeholder=""/>
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                <tr class="filtered-pagetest-row" test_id="{{test.id}}">
                    <td>
                        <a class="change-test" href="{% url testing_runtime.web.tests.update_test test.id %}">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="remove-test" href="#">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                    <td>
                        <a class="filtered-pagetest-id" href="{% url testing_runtime.web.tests.update_test test.id %}">
                            #{{test.id}} {{ test.doc }}
                        </a>
                        {% if test.status == 'new' %}
                            <a href="#signs-info"><i class="icon-warning-sign"></i></a>
                        {% endif %}
                    </td>
                    <td class="filtered-pagetest-url">
                        <a href="{{ test.url }}" target="_blank">{{ test.url }}</a>
                    </td>
                    <td>
                        <ul>
                        {% for subtest in test.subtests %}
                            <li>
                                <a href="{% url testing_runtime.web.tests.update_test subtest.id %}">#{{ subtest.id }} {{ subtest.doc }}</a>
                                {% if subtest.status == 'new' %}
                                    <a href="#signs-info"><i class="icon-warning-sign"></i></a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>

{% endblock %}
