{% extends "layout/layout.html" %}

{% block head %}
    {{ super.block }}
    <script type="text/javascript" src="/static/js/tests_list.js"></script>
{% endblock %}

{% block content %}

    <fieldset>
        <legend>Список тестов</legend>
        <table class="table">
            <thead>
            <tr>
                <th>
                    <input type="text" id="filter-pagetest-id" placeholder="фильтр по id"/>
                    <label for="filter-pagetest-id" >Тесты страницы</label>
                </th>
                <th>
                    <input type="text" id="filter-pagetest-url" placeholder="фильтр по url"/>
                    <label for="filter-pagetest-url" >url</label>
                </th>
                <th>
                    Подтесты
                </th>
            </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                <tr class="filtered-pagetest-row">
                    <td>
                        <a class="filtered-pagetest-id" href="{% url testing_runtime.web.tests.update_test test.id %}">
                            {{ test.id }}
                        </a>
                        <div class="doc" style="display:none">
                            {{ test.doc }}
                        </div>
{#                        {% if test.status == 'NEW' %}#}
{#                            <span class="label label-important">{{ test.status }}</span>#}
{#                        {% elif task.status == 'ACCEPTED' %}#}
{#                            <span class="label label-success">{{ test.status }}</span>#}
{#                        {% endif %}#}
                    </td>
                    <td class="filtered-pagetest-url">
                        {{ test.url }}
                    </td>
                    <td>
                        <ul>
                        {% for subtest in test.subtests %}
                            <li>
                                <a href="{% url testing_runtime.web.tests.update_test subtest.id %}">{{ subtest.doc }}</a>
{#                                {% if subtest.status == 'NEW' %}#}
{#                                    <span class="label label-important">{{ subtest.status }}</span>#}
{#                                {% elif subtesk.status == 'ACCEPTED' %}#}
{#                                    <span class="label label-success">{{ subtest.status }}</span>#}
{#                                {% endif %}#}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>

{% endblock %}
