<div class="well sidebar">
    <ul class="nav nav-list">
        <li class="nav-header">Система</li>
        <ul>
            <li>
                <a href="/job/state">Состояние системы</a>
            </li>
            <li class="active">
                <a href="/job/create">Создать задание</a>
            </li>
            <li class="active">
                <a href="/job/list">Список заданий</a>
            </li>
        </ul>

        <li class="nav-header">Тесты</li>
        <ul>
            <li>
                <a href="/tests/list">Список тестов</a>
            </li>
            <li class="active">
                <a href="/tests/create">Добавить тест</a>
            </li>
        </ul>
    </ul>
</div>