<script type="text/javascript" src="/static/js/test.js"></script>

<p>
    <div id="test-status-block"
         class="btn-group"
         data-toggle="buttons-radio">
        <button type="button"
                class="btn btn-danger btn-large {% if not test or test.status == 'new' %}active{% endif %}"
                id="test-status-new">
            new
        </button>
        <button type="button"
                class="btn btn-success btn-large {% if test.status == 'accepted' %}active{% endif %}"
                id="test-status-accepted">
            accepted
        </button>
    </div>
</p>

<div id="guru-block">
    {% include "test/blocks/guru.html" %}
</div>
