<script type="text/javascript" src="/static/js/test.js"></script>

<p>
<div class="btn-group" data-toggle="buttons-radio">
    <button type="button"
            {% if test %}disabled="disabled"{% endif %}
            class="btn btn-primary btn-large"
            id="open-noob-block">
        noob
    </button>
    <button type="button"
            class="btn btn-primary btn-large {% if test %}active{% endif %}"
            id="open-guru-block">
        guru
    </button>
</div>
</p>

<p>
    <div id="test-status-block"
            {% if not test %}
         style="display: none"
            {% endif %}
         class="btn-group"
         data-toggle="buttons-radio">
        <button type="button"
                class="btn btn-success btn-large {% if not test or test.status == 'new' %}active{% endif %}"
                id="test-status-new">
            new
        </button>
        <button type="button"
                class="btn btn-danger btn-large {% if test.status == 'accepted' %}active{% endif %}"
                id="test-status-accepted">
            accepted
        </button>
    </div>
</p>

<div id="noob-block" style="display: none">
    {% include "test/blocks/noob.html" %}
</div>

<div id="guru-block"
     {% if not test %}
     style="display: none"
     {% endif %}
>
    {% include "test/blocks/guru.html" %}
</div>
