<fieldset>
<legend>Набор тестов</legend>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <input type="text" id="filter-pagetest" placeholder="фильтр по url"/>
            <label class="checkbox">
                <input type="checkbox" id="check-all-tests" /> Тесты страницы
            </label>
        </th>
        <th>
            <label class="checkbox">
                <input type="checkbox" id="check-all-subtests" /> Подтесты
            </label>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for test in tests %}
        <tr class="filtered-pagetest-row">
            <td>
                <label class="checkbox">
                    <input type="checkbox"
                           test_id="{{ test.id }}"
                           {% if test.checked %} checked {% endif %}
                           class="test-chk"/>
                    <a class="filtered-pagetest" href="{% url testing_runtime.web.tests.update_test test.id %}">{{ test.url }}</a>
                </label>
            </td>
            <td>
                {% for subtest in test.subtests %}
                    <label class="checkbox">
                        <input class="subtest-chk"
                               type="checkbox"
                               {% if subtest.checked %} checked {% endif %}
                               test_id="{{ subtest.id }}">
                        <a href="{% url testing_runtime.web.tests.update_test subtest.id %}">{{ subtest.doc }}</a>
                    </label>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</fieldset>