{% extends "layout/layout.html" %}

{% load i18n %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/update_test.js"></script>
{% endblock %}

{% block content %}

    <legend>{% trans "Editing test" %} #{{ test.id }} {{ test.name }}</legend>

    {% include "test/blocks/test.html" %}

{% endblock %}

{% block bottom-navbar-items %}
    <input type="button" class="btn" id="update-test-btn" value="{% trans "Save" %}"/>
    <a href="{% url testing_runtime.web.tests.list_tests %}">
        <input type="button" class="btn" value="{% trans "Cancel" %}"/>
    </a>
{% endblock %}