<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href="/static/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/gany.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">ЛУН.ua</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                {% block column %}
                    {% include "layout/navbar.html" %}
                {% endblock %}
            </div>
            <div class="span10">
                {% block content %}
                    empty content
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="form-actions navbar navbar-fixed-bottom">
        {% block bottom-navbar-items %}{% endblock %}
    </div>

    {% include "modals/error_modal.html" %}
    {% include "modals/info_modal.html" %}
    {% include "modals/rusure_modal.html" %}
</body>
</html>