<div class="well sidebar">
    <ul class="nav nav-list">
        <li class="nav-header">Система</li>
        <ul>
            <li>
                <a href="{% url testing_runtime.web.tasks.system_state %}">Состояние системы</a>
            </li>
            <li class="active">
                <a href="{% url testing_runtime.web.job.list_jobs %}">Список заданий</a>
            </li>
            <li class="active">
                <a href="{% url testing_runtime.web.job.create_job %}">Создать задание</a>
            </li>
        </ul>

        <li class="nav-header">Тесты</li>
        <ul>
            <li>
                <a href="{% url testing_runtime.web.tests.list_tests %}">Список тестов</a>
            </li>
            <li class="active">
                <a href="{% url testing_runtime.web.tests.create_test %}">Добавить тест</a>
            </li>
        </ul>
    </ul>
</div>