<ul class="nav">
    <li>
        <a href="{% url testing_runtime.web.tasks.system_state %}">Состояние</a>
    </li>
    <li>
        <a href="{% url testing_runtime.web.job.list_jobs %}">Задачи</a>
    </li>
    <li>
        <a href="{% url testing_runtime.web.job.create_job %}">Создать задачу</a>
    </li>
    <li>
        <a href="{% url testing_runtime.web.tests.list_tests %}">Тесты</a>
    </li>
    <li>
        <a href="{% url testing_runtime.web.tests.create_test %}">Добавить тест</a>
    </li>
</ul>
